@model CarShop.Models.Car

@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm("Add", "Home", FormMethod.Post, 
     new { enctype = "multipart/form-data" }))
{
    <p>
        @Html.LabelFor(t => t.Plate)
        @Html.EditorFor(t => t.Plate)
        @Html.ValidationMessageFor(t => t.Plate)
    </p>
    <p>
        @Html.LabelFor(t => t.Type)
        @Html.EditorFor(t => t.Type)
        @Html.ValidationMessageFor(t => t.Type)
    </p>
    <p>
        @Html.LabelFor(t => t.HorsePower)
        @Html.EditorFor(t => t.HorsePower)
        @Html.ValidationMessageFor(t => t.HorsePower)
    </p>
    <p>
        @Html.LabelFor(t => t.PictureInfo)
        <input type="file" name="PictureInfo"/>
    </p>
    <p>
        <input type="submit" value="Mentés" />
    </p>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
